@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 *{
    margin: 0px;
    padding: 0px;
    
    font-family: 'Ubuntuital';
    
}
.hero{
    box-shadow: inset;
    box-sizing: border-box;
    animation: down 2s;

}
.heading h1 {
    color: rgb(220, 26, 26);
    font-size: 55px;
    text-align: center;
    margin-top: 100px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
    box-shadow: 2px 2px 5px rgba(222, 18, 18, 0.26);
}
.hc{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
}
.hc h2{
    font-size: 38px;
    margin-bottom:20px;
    color: rgb(220, 26, 26);

}
.hc p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom:20px;
    color: rgb(0, 0, 0);

}
.hc button{
    display: inline-block;
    background-color: rgb(101, 22, 9);
    color: beige;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;

}
.hc button:hover{
    background-color: rgb(220, 26, 26);
    transform: scale(1.1);
}

.hero-image{
    flex: 1;
    width: 600px;
    margin: auto;
    height: auto;
    transform: scale(0.7);

}
.f{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(78, 107, 120, 0.2);
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
    box-shadow: 2px 2px 5px rgba(222, 18, 18, 0.26);
    box-sizing: content-box;

}


.custom-img-size {
    max-width: 100%; /* Ensure the image does not exceed its container width */
    height: 15rem; /* Maintain aspect ratio */
    border: none;
    filter: grayscale(100%); 




}
.custom-img-size:hover{
    
    filter: grayscale(0%); 
}
.card-img-top{
    border: none;
}
.card{
    max-width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    box-shadow: 0px 4px 8px rgba(78, 107, 120, 0.2);

}


.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
    box-shadow: 2px 2px 5px rgba(222, 18, 18, 0.26);
}
.col-md-6 p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom:20px;
    color: rgb(0, 0, 0);

}
.img-fluid{
    transform: scale(0.7);
}